extends layout

block content
  -
   let results =[
      {
        "vechicle_type": "car",
        "color": "white",
        "no_of_tyres": 4
      },
      {
        "vechicle_type": "MotorVechicle",
        "color": "black",
        "no_of_tyres": 2
      },
      {
        "vechicle_type": "Bus",
        "color": "grey",
        "no_of_tyres": 6
      },
      {
        "vechicle_type": "Truck",
        "color": "blue",
        "no_of_tyres": 4
      },
       {
        "vechicle_type": "Auto Rickshaw",
        "color": "yellow",
        "no_of_tyres": 3
      }

    ]
  h1= title
  .container-fluid 
    .row 
      each vechicle in results
        div(class="col-sm-2" onclick=`buy(${results.indexOf(vechicle)})`) 
          each value,key in vechicle  
            = " " +value

