extends layout 

block content 
    h1= title 


    - let vechiclesid = toShow._id 
    - let vechicle_type = toShow.vechicle_type 
    - let color  = toShow.color 
    - let no_of_tyres = toShow.no_of_tyres 


    div.row(class='mb-2') 
        div.mr-1 ID is 
        div #{vechiclesid} 
    - let actionid = "/resource/vechicles/" + vechiclesid 
    form(id='vechiclesForm', action= actionid, method="PUT") 
        div.form-group 
            label.vechicleAttr(for='vechicle_type') vechicles  Fish_Name 
            input#vechicle_type(type='text' name='vechicle_type', value= vechicle_type ) 
        div.form-group 
            label.vechicleAttr(for='color') vechicles color 
            input#color(type='text' name='color', value= color ) 
        div.form-group 
            label.vechicleAttr(for='no_of_tyres') vechicles  no_of_tyres 
            input#no_of_tyres(type='number' name='no_of_tyres', value= no_of_tyres ) 
        input(type="submit") 


    script. 
        document.forms['vechiclesForm'].addEventListener('submit', (event) => { 
            event.preventDefault(); 
            // TODO do something here to show user that form is being submitted 
            fetch(event.target.action, { 
                method: 'PUT', 
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
            }).then((resp) => { 
                return resp.json(); // or resp.text() or whatever the server sends 
            }).then((body) => { 
                alert("Update succeded") 
                // TODO handle body 
            }).catch((error) => { 
                // TODO handle error 
                alert("Update failed " + error ) 
            }); 
        }); 